

<div class="edit" ng-controller="BootstrapController" id="book-container">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="">
                <div class="sidebar-nav">
                    <ul class="nav nav-list accordion-group">
                        <li class="nav-header">
                            <div class="pull-right popover-info">
                                <i class="icon-question-sign "></i>
                                <div class="popover fade right">
                                    <div class="arrow"></div>
                                    <h3 class="popover-title">Help</h3>
                                    <div class="popover-content">Agenda Help Here</div>
                                </div>
                            </div>
                            <i class="icon-plus icon-white"></i>Sections
                        </li>
                        <li style="display: list-item;" class="rows" id="estRows">
                            <div class="lyrow ui-draggable">
                                <a href="#close" class="remove label label-important">
                                    <i class="icon-remove icon-white"></i>Remove
                                </a>
                                <span class="drag label"><i class="icon-move"></i>Drag</span>
                                <div class="preview">
                                    <label class=""><span class="badge">1</span> column </label>
                                    <input type="hidden" value="12">
                                </div>
                                <div class="view">
                                    <div class="row-fluid clearfix">
                                        <div class="span12 column"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="lyrow ui-draggable">
                                <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Remove</a> <span class="drag label"><i class="icon-move"></i>Drag</span>
                                <div class="preview">
                                    <label class=""><span class="badge">2</span> columns </label>
                                    <input value="6 6" type="hidden">
                                </div>
                                <div class="view">
                                    <div class="row-fluid clearfix">
                                        <div class="span6 column"></div>
                                        <div class="span6 column"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="lyrow ui-draggable">
                                <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Remove</a> <span class="drag label"><i class="icon-move"></i>Drag</span>
                                <div class="preview">
                                    <label class=""><span class="badge">3</span> columns </label>
                                    <input value="4 4 4" type="hidden">
                                </div>
                                <div class="view">
                                    <div class="row-fluid clearfix">
                                        <div class="span4 column"></div>
                                        <div class="span4 column"></div>
                                        <div class="span4 column"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="lyrow ui-draggable">
                                <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Remove</a> <span class="drag label"><i class="icon-move"></i>Drag</span>
                                <div class="preview">
                                    <label class=""><span class="badge">4</span> columns </label>
                                    <input value="3 3 3 3" type="hidden">
                                </div>
                                <div class="view">
                                    <div class="row-fluid clearfix">
                                        <div class="span3 column"></div>
                                        <div class="span3 column"></div>
                                        <div class="span3 column"></div>
                                        <div class="span3 column"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="lyrow ui-draggable" style="display: none">
                                <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Remove</a> <span class="drag label"><i class="icon-move"></i>Drag</span>
                                <div class="preview">
                                    <span class="">custom</span>
                                    <input value="2 2 2 2 2" type="text" style="width: 40px; display: inline-block">
                                </div>
                                <div class="view">
                                    <div class="row-fluid clearfix">
                                        <div class="span2 column"></div>
                                        <div class="span2 column"></div>
                                        <div class="span2 column"></div>
                                        <div class="span2 column"></div>
                                        <div class="span2 column"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav nav-list accordion-group">
                        <li class="nav-header">
                            <i class="icon-plus icon-white"></i> COMPONENTS
                            <div class="pull-right popover-info">
                                <i class="icon-question-sign "></i>
                                <div class="popover fade right">
                                    <div class="arrow"></div>
                                    <h3 class="popover-title">Help</h3>
                                    <div class="popover-content">DRAG & DROP THE COMPONENTS INSIDE THE COLUMNS WHERE YOU WANT TO INSERT IT.</div>
                                </div>
                            </div>
                        </li>
                        <li style="display: none;" class="boxes" id="elmBase">
                            <div class="box box-element ui-draggable">
                                <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Remove</a> <span class="drag label"><i class="icon-move"></i>Drag</span>
                                <div class="configuration">
                                    <button type="button" class="btn btn-mini" data-target="#editorModal" role="button" data-toggle="modal">Editor</button>
                                    <div class="btn-group">
                                        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">Align <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li class="active"><a href="#" rel="">Default</a></li>
                                            <li class=""><a href="#" rel="text-left">Left</a></li>
                                            <li class=""><a href="#" rel="text-center">Center</a></li>
                                            <li class=""><a href="#" rel="text-right">Right</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group" style="display: none">
                                        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">Emphasis <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li class="active"><a href="#" rel="">Default</a></li>
                                            <li class=""><a href="#" rel="muted">Muted</a></li>
                                            <li class=""><a href="#" rel="text-warning">Warning</a></li>
                                            <li class=""><a href="#" rel="text-error">Error</a></li>
                                            <li class=""><a href="#" rel="text-info">Info</a></li>
                                            <li class=""><a href="#" rel="text-success">Success</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="preview">Text</div>
                                <div class="view">
                                    <h3 contenteditable="true">Input text here</h3>
                                </div>
                            </div>
                            <div class="box box-element ui-draggable">
                                <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Remove</a> <span class="drag label"><i class="icon-move"></i>Drag</span>
                                <div class="configuration">
                                    <button type="button" class="btn btn-mini" data-target="#editorModal" role="button" data-toggle="modal">Editor</button>
                                    <div class="btn-group">
                                        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">Align <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li class="active"><a href="#" rel="">Default</a></li>
                                            <li class=""><a href="#" rel="text-left">Left</a></li>
                                            <li class=""><a href="#" rel="text-center">Center</a></li>
                                            <li class=""><a href="#" rel="text-right">Right</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">Emphasis <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li class="active"><a href="#" rel="">Default</a></li>
                                            <li class=""><a href="#" rel="muted">muted</a></li>
                                            <li class=""><a href="#" rel="text-warning">Warning</a></li>
                                            <li class=""><a href="#" rel="text-error">Error</a></li>
                                            <li class=""><a href="#" rel="text-info">Info</a></li>
                                            <li class=""><a href="#" rel="text-success">Success</a></li>
                                        </ul>
                                    </div> <a class="btn btn-mini" href="#" rel="lead">Lead</a>
                                </div>
                                <div class="preview">Paragraph</div>
                                <div class="view" contenteditable="true">
                                    <p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui. Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu. </p>
                                </div>
                            </div>
                            <div class="box box-element ui-draggable">
                                <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Remove</a> <span class="drag label"><i class="icon-move"></i>Drag</span>
                                <span class="configuration"><button type="button" class="btn btn-mini" data-target="#editorModal" role="button" data-toggle="modal">Editor</button></span>
                                <div class="preview">Address</div>
                                <div class="view">
                                    <address contenteditable="true">
                                        <strong>Twitter, Inc.</strong><br>
                                        795 Folsom Ave, Suite 600<br>
                                        San Francisco, CA 94107<br>
                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                    </address>
                                </div>
                            </div>
                            <div class="box box-element ui-draggable">
                                <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Remove</a> <span class="drag label"><i class="icon-move"></i>Drag</span> <span class="configuration"> <a class="btn btn-mini" href="#" rel="pull-right">Pull Right</a> </span>
                                <div class="preview">Blockquote</div>
                                <div class="view clearfix">
                                    <blockquote contenteditable="true">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                        <small>Someone<cite title="Source Title"> famous Source Title</cite></small>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="box box-element ui-draggable">
                                <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Remove</a> <span class="drag label"><i class="icon-move"></i>Drag</span> <span class="configuration"><button type="button" class="btn btn-mini" data-target="#editorModal" role="button" data-toggle="modal">Editor</button> <a class="btn btn-mini" href="#" rel="unstyled">Unstyled</a> <a class="btn btn-mini" href="#" rel="inline">Inline</a> </span>
                                <div class="preview">Unordered List</div>
                                <div class="view">
                                    <ul contenteditable="true">
                                        <li>Lorem ipsum dolor sit amet</li>
                                        <li>Consectetur adipiscing elit</li>
                                        <li>Integer molestie lorem at massa</li>
                                        <li>Facilisis in pretium nisl aliquet</li>
                                        <li>Nulla volutpat aliquam velit</li>
                                        <li>Faucibus porta lacus fringilla vel</li>
                                        <li>Aenean sit amet erat nunc</li>
                                        <li>Eget porttitor lorem</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="box box-element ui-draggable">
                                <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Remove</a> <span class="drag label"><i class="icon-move"></i>Drag</span>
                                <span class="configuration"><button type="button" class="btn btn-mini" data-target="#editorModal" role="button" data-toggle="modal">Editor</button></span>
                                <div class="preview">Page Header</div>
                                <div class="view">
                                    <div class="page-header" contenteditable="true">
                                        <h1>Example Page Header</h1>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/span-->
            
            <!-- canvas TODO: change demo to canvas-->
            <div class="demo ui-sortable" style="min-height: 400px;">
                
            </div>
            <!-- end demo -->
        </div>
        <!--/row-->
    </div>
    <!--/.fluid-container-->
    <div class="modal hide fade" role="dialog" id="editorModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Save your Layout</h3>
        </div>
        <div class="modal-body">
            <p>
                <textarea id="contenteditor"></textarea>
            </p>
        </div>
        <div class="modal-footer"> <a id="savecontent" class="btn btn-primary" data-dismiss="modal">Save</a> <a class="btn" data-dismiss="modal">Cancel</a> </div>
    </div>

    <div class="modal hide fade" role="dialog" id="shareModal">
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <a class="btn" data-dismiss="modal" onclick="javascript: saveLayout()">Save</a>
        </div>
    </div>

</div>
@section scripts{
    <script type="text/javascript" src="~/js/jquery-ui.js"></script>
    <script type="text/javascript" src="~/js/jquery.htmlClean.js"></script>
    <script type="text/javascript" src="~/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/ckeditor/config.js"></script>
    <script type="text/javascript" src="~/js/scripts.js"></script>
    <script type="text/javascript" src="~/js/blob.js"></script>

    <script src="~/Scripts/angular/controllers/bootstrap-controller.js"></script>
    <script type="text/javascript">

    
    </script>
}

