<div id="book-container" ng-controller="BookController">
    
    <div class="row">
        <div class="col-md-12">
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{toolbox}}
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Messages</a></li>
            </ul>
        </div>
        <div class="col-md-9">{{canvas}}</div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/angular/controllers/book-controller.js"></script>
    <script type="text/javascript">

    </script>
}
