@section head
{

    <link href="~/Content/angular-xeditable.css" rel="stylesheet" />
}
<style type="text/css">
    .col {
        width: 200px;
        border: #ccc solid 1px;
        padding: 15px;
        text-align: center;
    }
</style>
<div id="book-container" ng-controller="BookController">
    <div class="container">
        <div class="row" style="min-height: 625px">
            <div class="col-md-3" style="min-height: 600px">
                <my-datepicker type="text" ng-model="date"></my-datepicker>
            </div>
            <div class="col-md-9 clearfix" style="min-height: 600px">
                <div class="btn-group" style="float: left;">
                    <button type="button" class="btn btn-small" ng-click="addCol()" ng-hide="cols.length > 3">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <ul id="sortable" class="nav nav-pills" style="float: left">
                    <li ng-repeat="col in cols">
                        <div class="col" ng-dblclick="removeCol($index)">
                            <a href="#" editable-text="col.title" buttons="no">{{ col.title || 'column' }}</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <pre ng-bind="cols | json "></pre>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/angular-dragdrop.js"></script>
    <script src="~/Scripts/angular-xeditable.js"></script>
    <script src="~/Scripts/angular/directives/angular-sortable.js"></script>
    <script src="~/Scripts/angular/controllers/book-controller.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#myDate').datepicker({ inline: true });
        });
    </script>
}
